[Desktop Entry]
Type=Application
Name=Winux Media Player
GenericName=Media Player
Comment=Play audio and video files
Exec=/usr/bin/winux-player
Icon=multimedia-video-player
Categories=AudioVideo;Player;
Terminal=false
